{% extends 'base.html.twig' %}

{% block title %}New SurfBoard
{% endblock %}

{% block body %}
	<h1>Create new SurfBoard</h1>

	{{ include('surf_board/_form.html.twig') }}

{# <a href="{{ path('app_surf_board_show', {'id': surf_board.id}) }}">show</a> #}
	{# <a href="{{ path('app_surf_board_show') }}">back to list</a> #}
{% endblock %}
