<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>New board</title>
	</head>
	<body>
		<h1>New board
			{{ surfboard.nickname }}
			created</h1>
		<p>Hello, the new board
			{{ surfboard.nickname }}
			has been created on your SurfShack</p>
		<p>Review :
			{{surfboard.review }}</p>
	</body>
</html>
