:root {
    --lightPrimary: #B8CBD0;
    --mainBlue: #344D59;
    --lightSecondary: #709CA7;
    --kakiOpacity: #877e605e;

    --font-primary: "Lato", sans-serif;
    --font-secondary: "Playfair Display", serif;
    --font-third: "Prata", serif;
    --font-maj: "Playfair Display SC";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: var(--lightPrimary);
}

@media (max-width: 576px) {
    .navbar-collapse {
        height: 86vh;
    }

    .responsive-font-example {
        font-size: 15px;
    }

    .fontfooter {
        font-size: 13px;
    }
}

@media (min-width: 576px) {
    .responsive-font-example {
        font-size: 20px;
    }
}

/*//////////////////////index.html.twig////////////////////////////////////////*/

a:hover {
    color: white;
}

/*////////////////////////////////register.html.twig//////////////////////////////*/

.form-control::placeholder {
    color: var(--mainBlue);
    opacity: 1;
    font-size: larger;
}

/*/////////////// Ajout de blur sur les modals //////////////////////////////*/
.modal.blur {
    backdrop-filter: blur(3px);
}

/*/////////////// css cards //////////////////////////////*/

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
    background: #111 !important;
}

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
}

.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--mainBlue) !important;
    /* -webkit-background-clip: text !important; */
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--mainBlue) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    /* -webkit-background-clip: none !important; */
    -webkit-text-fill-color: #fff !important;
    border: 5px solid #fff !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}