//start coding by removing this file and adding yours ;)
// // import the functions & variables
@import "../../vendor/twbs/bootstrap/scss/_functions.scss";
@import "../../vendor/twbs/bootstrap/scss/_variables.scss";

//custom variables
$custom-colors: (
    "mainBlue": #344D59,
    "lightPrimary": #B8CBD0,
    "lightSecondary": #709CA7,

);

$theme-colors: map-merge($custom-colors, $theme-colors);

//import bootstrap
@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap";

:root {
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Playfair Display", serif;
    --font-third: "Prata", serif;
    --font-maj: "Playfair Display SC";
}

h1 {
    font-family: var(--font-maj);
}

h2 {
    font-family: var(--font-secondary);
}

a {
    text-decoration: none;
}