{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>{{ website }}
		index</h1>

	<img
	src="{{ asset('build/images/surfsunset.jpeg') }}" alt="surfsunset"/>
{# <link rel="icon" href="{{ asset('build/images/bouteille.svg') }}"> #}

{% endblock %}
