{% extends 'base.html.twig' %}

{% block title %}My SurfShack
{% endblock %}

{% block body %}
	<h1>{{ website }}
	</h1>
	<div class="d-flex justify-content-center">
		<img class="mw-50 mh-100" src="{{ asset('build/images/surfsunset.jpeg') }}" alt="surfsunset"/>
	</div>
{% endblock %}
